.motivation-list {
	width: 100%;
	height: 100%;
	color: $about-color;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	padding-right: 4vw;

	li {
		width: 100%;
		padding: 15px;

		h4 {
			color: $about-color;
			font-size: 5vh;
			font-weight: 500;
			border-bottom: 1px solid $about-color;
			margin-bottom: 12px;
		}

		p {
			font-size: 4vh;
			font-weight: 100;
		}
	}
}

.tech-list {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	transform: rotateZ(-20deg);

	li {
		width: 60%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;

		&:nth-child(odd) {
			border-left: 1px solid $white-color;
		}
		&:nth-child(even) {
			border-right: 1px solid $white-color;
		}

		p {
			width: 100%;
			border-bottom: 1px solid $white-color;
			color: $white-color;
			font-size: 4vw;
			font-weight: 100;
			padding: 5px;
		}
	}
}

@import './resume-content/resume-content';