@media screen and (max-width: 550px) {
	.landing {
		@include base-flex-around-center(column-reverse, center, center, nowrap);

		nav {
			width: 50%;
			height: auto;

			ul {
				margin: 0;
				transform: rotateZ(0deg);

				li {
					height: 11vw;
					line-height: 11vw;

					a {
						font-size: 7vw;
					}
				}
			}
		}

		.landing-header {

			h1 {
				font-size: 17vw;
				line-height: 14vw;
			}
		}
	}
 }