.landing {
	width: 100%;
	height: 100vh;
	background-color: $white-color;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	nav {
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 1s;

		ul {
				width: 100%;
				height: 50vw;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 2vw;
				margin-left: 3vw;
				text-align: center;
				transform: rotateZ(-30deg);

			li {
				width: 100%;
				height: 9vw;
				line-height: 9vw;

			&:nth-child(2) {
				margin: 2vw 0 2vw 10vw;
			}

				a {
					width: 100%;
					height: 100%;
					display: block;
					color: $white-color;
					font-size: 4vw;
					font-weight: 100;
				}
			}
		}
	}

	.landing-header {
		text-align: end;

		h1 {
			width: 100%;
			display: block;
			position: relative;
			font-size: 14vw;
			font-weight: 600;
			line-height: 12vw;
		}
	}
}