@mixin galleryItemBase($num) {
	@if ($num == 2) {
		width: 35%;
		margin: 0 0 15vh 4vh;
	} @else if ($num == 3) {
		width: 35%;
	} @else {
		width: 55%;
	}
}

.gallery-list {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 25px;

	.gallery-item {
		width: 55%;
		height: 50vw;
		border: 1px solid $project-color;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		@for $i from 1 through 4 {
			&:nth-child(#{$i}n + #{$i}) {
				@include galleryItemBase($i);
			}
		}

		$image-list: cause wage letter marvel;

		@each $item in $image-list {
			&.#{$item}-background {
				background-image: url('app/images/#{$item}.jpeg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		.gallery-item-info {
			width: 100%;
			height: 100%;
			background-color: $project-color;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 1;
			transition: opacity 1s ease-in-out;

			&:hover, &:focus {
				opacity: 0;
			}

			h6 {
				color: white;
				font-size: 4.5vw;
				font-weight: 100;
				padding: 0 2vw;
				text-align: center;
			}

			.tag-list {
				padding: 2vw;

				li {
					border: 1px solid white;
					margin-bottom: 2px; 
					padding: 5px;

					p {
						color: white;
						font-size: 2vw;
						font-weight: 100;
						text-align: center;
					}
				}
			}
		}
	}
}

.gallery-item-modal {
	width: 100%;
	height: 100vh;
	background-color: white;
	opacity: 1;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;

	.gallery-modal-image-container {
		width: 80vw;
		height: 50vw;
		display: block;
		margin: 4vw auto;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.gallery-modal-info {
		display: flex;
		flex-direction: column;
		align-items: center;

		.half-info {
			display: flex;
			flex-direction: column;
			text-align: center;

			&.bottom {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: flex-start;
			}

			.site-repo-div {
				display: flex;
				flex-direction: column;

			}
		}
	}
}