$base-font: Helvetica, Arial, sans-serif;
$block-height-width: 77px;
$project-color: rgba(255,196,96,1);
$about-color: rgba(247, 190, 221, 1);
$drafting-color: rgba(57,131,247,1);
$white-color: rgba(250,250,250,1);
$black-text: rgba(20,20,20,1);
$black-background: rgba(50,50,50,1);


@mixin box-sizing-mixin($x: border-box) {
	box-sizing: $x;
	-webkit-box-sizing: $x;
	-moz-box-sizing: $x;
	-ms-box-sizing: $x;
}

@mixin base-flex-around-center($x: row, $y: space-around, $z: center) {
	display: flex;
	flex-direction: $x;
	justify-content: $y;
	align-items: $z;
	flex-wrap: wrap;
}

* {
	@include box-sizing-mixin(border-box);
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	width: 100%;
	display: block;
	color: $black-text;
	background-color: $white-color;
	font-family: $base-font;
}

body::-webkit-scrollbar{
	display: none;
}

h1 {
	font-family: $base-font;
}

ul {
	list-style: none;
}

.white-background {
	background-color: $white-color;
}

.white-color {
	color: $white-color;
}

.about-background {
	background-color: $about-color;
}

.projects-background {
	background-color: $project-color;
}

.drafting-background {
	background-color: $drafting-color;
}

.about-color {
	color: $about-color;
}

.projects-color {
	color: $project-color;
}

.drafting-color {
	color: $drafting-color;
}

.app-container {
	min-height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

// this will pop out the div for the link
.link-content {
	background-color: $white-color;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.base-section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 15px;
	overflow: hidden;
}

@import './components/global/global';
@import './components/landing/landing';
@import './components/about/about';
@import './components/projects/projects';
@import './components/drafting/drafting';