$base-font: Helvetica, Arial, sans-serif;
$block-height-width: 77px;
$project-color: rgba(255,196,96,1);
$about-color: rgba(247, 190, 221, 1);
$contact-color: rgba(57,131,247,1);

@mixin box-sizing-mixin($x: border-box) {
	box-sizing: $x;
	-webkit-box-sizing: $x;
	-moz-box-sizing: $x;
	-ms-box-sizing: $x;
}
* {
	@include box-sizing-mixin(border-box);
	color: rgba(55,55,55, 1);
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}

body {
	min-height: 100vh;
	width: 100%;
	display: block;
	font-family: $base-font;
}

h1 {
	font-family: $base-font;
}

ul {
	list-style: none;
}

.white-background {
	background-color: white;
}

.about-background {
	background-color: $about-color;
}

.project-background {
	background-color: $project-color;
}

.contact-background {
	background-color: $contact-color;
}

.white-color {
	color: white;
}

.about-color {
	color: $about-color;
}

.project-color {
	color: $project-color;
}

.contact-color {
	color: $contact-color;
}

.app-container {
	min-height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

.link-content {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.base-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 15px;
	overflow: hidden;
}

@import './components/global/global';
@import './components/landing/landing';
@import './components/about/about';