$base-font: Helvetica, Arial, sans-serif;
$block-height-width: 77px;
$project-color: rgba(255,196,96,1);
$about-color: rgba(247, 190, 221, 1);
$contact-color: rgba(57,131,247,1);

@mixin box-sizing-mixin($x: border-box) {
	box-sizing: $x;
	-webkit-box-sizing: $x;
	-moz-box-sizing: $x;
	-ms-box-sizing: $x;
}
* {
	@include box-sizing-mixin(border-box);
	color: rgba(55,55,55, 1);
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}

body {
	min-height: 100vh;
	width: 100%;
	display: block;
	font-family: $base-font;
}

h1 {
	font-family: $base-font;
}

ul {
	list-style: none;
}

.about-background {
	background-color: $about-color;
}

.project-background {
	background-color: $project-color;
}

.contact-background {
	background-color: $contact-color;
}

.app-container {
	min-height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

.landing {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	nav {
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 1s;

		ul {
			width: 100%;
			height: 50vw;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			text-align: center;

			li {
				width: 100%;
				height: 7vw;
				line-height: 7vw;
				box-shadow: 1px 1px 1px 0px rgba(0,0,0,.5);

				a {
					width: 100%;
					height: 100%;
					display: block;
					color: white;
					font-size: 4vw;
					font-weight: 100;
				}
			}
		}
	}

	.landing-header {
		text-align: end;

		h1 {
			width: 100%;
			display: block;
			position: relative;
			font-size: 14vw;
			font-weight: 600;
			line-height: 12vw;
		}
	}
}

.link-content {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.page-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		color: white;
		font-size: 20vw;
		font-weight: 500;
	}
}

.motivation-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 15px;
	overflow: hidden;

	.vertical-text-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 25vw;
		height: 100%;
		text-align: center;
		font-size: 8vh;
		font-weight: 600;
		overflow: hidden;

		p {
			color: $about-color;
		}
	}

	.motivation-list {
		width: 100%;
		height: 100%;
		color: $about-color;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
		padding-right: 4vw;

		li {
			width: 100%;

			h4 {
				color: $about-color;
				font-size: 4vh;
				font-weight: 100;
				border-bottom: 1px solid $about-color;
				margin-bottom: 12px;
			}

			p {
				font-size: 3vh;
				font-weight: 100;
			}
		}
	}
}