@media screen and (max-width: 500px) {

	.gallery-item-modal {
		
		.gallery-item-modal-body {
			width: 100%;
			height: 100%;

			.close-button a {
				color: $black-text;
			}

			.gallery-modal-info {

				.half-info {

					.tech-list-div ul li {
						font-size: 5vw;
					}

					.site-repo-div a {
						font-size: 5vw;
						margin-bottom: 1vw;
					}
				}
			}

		}
	}
	
}